name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  installer-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Build installer-test
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          load: true
          tags: dotfiles-installer-test:ci
          build-args: |
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Run installer-test
        run: |
          GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} docker compose run --rm installer-test
